*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

header{
    position: fixed;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
}

.logo{
    color: antiquewhite;
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    transform: scale(1.03);
}

.nav-links{
    display: flex;
    gap: 2rem;
}

li a{
    position: relative;
    color: antiquewhite;
    font-weight: 300;
    white-space: nowrap;
}

li a::before{
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    height: 5px;
    top: 25px; 
    border-radius: 1rem; 
    transition: 0.3s ease-in-out;
    background: #FFA17F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00223E, #FFA17F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00223E, #FFA17F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

li a:hover::before{
    width: 100%;
}

.github{
    display: inline-block;
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: aliceblue;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    background: #FFA17F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00223E, #FFA17F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00223E, #FFA17F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.linkedin{
    display: inline-block;
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: aliceblue;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    background: #FFA17F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00223E, #FFA17F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00223E, #FFA17F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.github:hover{
    background: linear-gradient(to right, #FFA17F, #00223E);
    transform: scale(1.03);
}

.linkedin:hover{
    background: linear-gradient(to right, #FFA17F, #00223E);
    transform: scale(1.03);
}

#menu-icon{
    font-size: 2rem;
    display: none;
}

section{
    min-height: 100vh;
    padding: 8rem 12%;
    width: 100%;
    position: relative;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;

}

.about .about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.about img{
    width: 28vw;
    height: 28vw;
    border-radius: 50%;
}

.info-box{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.info-box h3{
    font-size: 1.5rem;
    font-weight: 500;
    opacity: 0.8;
}

.info-box h1{
    font-size: 3rem;
    font-weight: 600;
}

.info-box span{
    background: linear-gradient(to right, #00223E, #FFA17F);
    background-clip: text;
    color: transparent;
    font-size: 1.8rem;

}

.btn-group{
    display: flex;
    gap: 1rem;
}

.btn{
    display: inline-block;
    color: inherit;
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid black;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2s ease-in-out;
}

.btn:hover{
    background-color: black;
    color: aliceblue;
}

.socials{
    display: flex;
    gap: 2rem;
}

.socials i{
    font-size: 2rem;
    cursor: pointer;
    transition: 0.2 ease-in-out;
}

.socials i:hover{
    transform: scale(1.1);
}

.socials a{
    color: inherit;
}

.section-title{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;

}

.projects-card{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: 2px solid black;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.projects-card:hover{
    background-color: black;
    color: white;
    transform: translateY(-10px)scale(1.02);
}

.projects-card img{
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.projects-card:hover .btn{
    border: 2px solid white;
    color: white;
}

.projects-card .btn:hover{
    border: 2px solid white;
    background-color: white;
    color: black;
}

.projects-card h3{
    font-size: 2rem;
    font-weight: 500;
}

.contact-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;
}

.email-link{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: black;
    border: 2px solid black;
    padding: 1rem 2.5rem;
    border-radius: 3rem;
    transition: 0.3s ease-in-out;
}

.email-link:hover{
    background-color: black;
    color: white;
}

.email-link i{
    font-size: 1.8rem;
}

footer{
    bottom: 0;
    left: 0;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;

}

footer ul{
    display: flex;
    align-items: center;
    gap: 3rem;
}

footer ul li a{
    color: black;
    font-weight: 600;
}

.copyright{
   font-weight: 300;
   margin-top: 2rem;
}

@media(max-width:1280px){
    header{
        padding: 1rem 2rem;
        gap: 2rem;
    }
    .about .about-container{
        gap: 3rem;
    }
}

@media(max-width:768px){
    header{
        padding: 1rem 1rem;
        gap: 1rem;
    }
    header .logo{
        font-size: 1rem;
    }
    header .visit-btn{
        display: none;
    }
    .about .about-container{
        flex-direction: column;
    }
    .grid{
        grid-template-columns: repeat(1,1fr);
    }

    .github, .linkedin{
        display: none;
    }

    .about img{
        width: 55vw;
        height: 55vw;
    }

    .section-title{
        font-size: 2rem;
    }

}

@media(max-width:600px){
    header #menu-icon{
        display: block;
    }
    .nav-links{
        position: absolute;
        top: calc(100% + 0.5rem);
        left: 50%;
        transform: translateX(-50%);
        min-width: 220px;
        padding: 1rem;
        color: white;
        flex-direction: column;
        text-align: center;
        background: rgba(0, 0, 0, 0.9);
        border-radius: 1.5rem;
        display: none;
    }
    .nav-links li{
        margin-top: 1.5rem;
        padding: 1rem;
    }
    .nav-links.active{
        display: flex;
    }
    header{
        padding: 1rem 1.5rem;
        gap: 1.5rem;
    }
    header .logo{
        font-size: 1.5rem;
    }

    .about-container img{
        width: 80vw;
        height: 80vw;
    }
    footer ul{
        gap: 1rem;
    }
}
